/*Universal elements – mobile first*/

body{
	padding: 0;
	margin: 0;
	font-size: 16px;
	line-height: 1.4;
	cursor: default;
	background-color: black;
}

em{
	font-style: italic;
}

p{
	font-family: 'Ubuntu', sans-serif;
	color: #ffffff;
	padding: 40vh 5vh;
	font-weight: 700;
	font-size: 1.3em;
	min-height: inherit;
}

p a{
	color: #ffffff;
}

p a:hover{
	color: #000000;
}

p a:active{
	color: #ffffff;
}

.pink{
	background-color: #D9587D;
}

.green{
	background-color: #58D9B4;
}

/*Slides*/

.slide{
	min-height: 20vh;
	overflow: hidden;
	background-size: cover;
	background-position: center;
}

#kirk{
	background-image: url("http://matthewsheret.com/images/kirk.jpg");
}

#rza{
	background-image: url("http://matthewsheret.com/images/rza.jpg");
}

#ed{
	background-image: url("http://matthewsheret.com/images/ed.jpg");
}

#date{
	background-color: #58D9B4;
}

#colt{
	background-image: url("http://matthewsheret.com/images/colt.jpg");
}

#parl{
	background-image: url("http://matthewsheret.com/images/parl.jpg");
}

#bowie{
	background-image: url("http://matthewsheret.com/images/bowie.jpg");
}

#reckon{
	background-color: #58D9B4;
}

#email{
	background-color: #D9587D;
}

#other{
	background-color: #58D9B4;
}

#alert{
	background-color: #D9587D;
}

#business{
	background-color: #58D9B4;
}


/*break points for mid-size screens*/

@media screen and (min-width: 566px){

.slide{
	min-height: 20vh;
	overflow: hidden;
}

p{
	max-width: 450px;
	min-height: 20vh;
	font-size: 2em;
}

@media screen and (min-width: 800px){

.slide{
	min-height: 20vh;
	overflow: hidden;
}

p{
	max-width: 600px;
}

p{
	font-size: 2.6em;
}

